<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="dataconnet" connectionString="server=QJZWZTINCQJ29ZW;database=NoteBook;uid=notebook;pwd=password349"
      providerName="System.Data.SqlClient" />
    <add name="NoteBook.Properties.Settings.NoteBOOKConnectionString"
      connectionString="Data Source=小腾7plus\test;Initial Catalog=NoteBook;Persist Security Info=True;User ID=sa"
      providerName="System.Data.SqlClient" />
    <add name="Notepad.Properties.Settings.NoteBookConnectionString"
      connectionString="Data Source=小腾7plus\test;Initial Catalog=NoteBook;Persist Security Info=True;User ID=sa"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>